<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="nav-link" routerLink="teachers" routerLinkActive="active">Nauczyciele</a>
    <a class="nav-link" routerLink="teachers" routerLinkActive="active">Klasy</a>
    <a class="nav-link" routerLink="teachers" routerLinkActive="active">Przedmioty</a>
    <a class="nav-link" routerLink="teachers" routerLinkActive="active">Plany</a>
    <a class="nav-link" routerLink="teachers" routerLinkActive="active">Uczniowie</a>
    <a class="nav-link" routerLink="parentsStudentsInsert" routerLinkActive="active">Dodaj Rodzica i ucznia</a>
</nav>
<router-outlet></router-outlet>