@import './styles/bootstrap-4.4.1-dist/css/bootstrap.min.css';
@import './styles/global-variables';


.body{
    display: flex;
    justify-content: center;
}

.content_container{
    max-width: 1000px;
}